
---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ name }}
spec:
  params:
    - name: host
      type: string
      description: url of argo
      default: "https://localhost:8080/"
    {% for parameter in method_obj.parameters -%}
    - name: {{ parameter.name }}
      description: {{ parameter.description }}
      type: string
      default: ""
    {% endfor -%}
  steps:
    - name: curl-command
      image: curlimages/curl
      command: ['sh']
      args:
        - -c 
        - |
          curl -o $(results.http-response-body.path) -s -w "%{http_code}" \
          $(params.host){{ path | replace_path_parameter_to_tekton_vars }} \
          -X {{ method | upper }} \
          {% for parameter in method_obj.parameters | filter_by_parameter_in('path') -%}
          -d {{ parameter.name }}
          {% endfor -%}
          | tee $(results.http-response-code.path)
  results:
    - name: http-response-body
      description: The response body of the api call
    - name: http-response-code
      description: The response http status code of the call